*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}
/* CSS data for homepage*/

.title h1{
    color: cornsilk;
    font-size: 80px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.line1{
    color: cornsilk;
    position: absolute;
    top: 52%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
}

.line2{
    color: cornsilk;
    position: absolute;
    top: 56%;
    left: 50%;
    width: 40%;
    transform: translate(-50%, -50%);
}

.button{
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn{
    border: 1px solid wheat;
    padding: 10px 30px;
    color: cornsilk;
    text-decoration: none;
    transition: 0.6s ease;
}

.btn:hover{
    background-color: white;
    color: black;
}
/* END: CSS data for homepage*/

/* CSS data for login*/
.log_container{
    width: 44%;
    height: 40%;
    background: rgb(217, 250, 247);
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    box-shadow: 5px 3px 15px 4px;
}
h2{
    position: absolute;
    top: 2%;
    left: 40%;
}

#email{
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 27%;
    width: 83%;
    height: 15%;
    padding-left: 7px;
    font-size: 17px;
}

#password{
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 45%;
    width: 83%;
    height: 15%;
    padding-left: 7px;
    font-size: 17px;
}

button{
    border: 1px solid wheat;
    padding: 10px 30px;
    color:rgb(250, 246, 225);
    text-decoration: none;
    transition: 0.6s ease;
    background-color: teal;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 65%;
    width: 40%;
    height: 15%;
    font-weight: normal;
    transition: 1s all;
}
button:hover{
    background-color: aqua;
    color: black;
    cursor: pointer;
    transition: 1s all;
}

.log_container #forg_pass{
    transform: translate(-50%, -50%);
    position: absolute;
    left: 80%;
    top: 92%;
}
.log_container #forg_pass:hover{
    color: red;
    cursor: pointer;
    transition: 1s all;
}

.log_container #reg{
    transform: translate(-50%, -50%);
    position: absolute;
    left: 27%;
    top: 92%;
}
.log_container #reg:hover{
    color: red;
    cursor: pointer;
    transition: 1s all;
}

/*END: CSS data for login*/

input:focus{
    border: 2px solid aqua;
    transition: 0.6s all;
}

/*CSS data for registration*/
.reg_container{
    width: 44%;
    height: 75%;
    background: rgb(217, 250, 247);
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    box-shadow: 5px 3px 15px 4px;
}

#name{
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 20%;
    width: 83%;
    height: 6%;
    padding-left: 7px;
    font-size: 17px;
}
#emailid{
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 28%;
    width: 83%;
    height: 6%;
    padding-left: 7px;
    font-size: 17px;
}
#mob{
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 36%;
    width: 83%;
    height: 6%;
    padding-left: 7px;
    font-size: 17px;
}
#address{
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 44%;
    width: 83%;
    height: 6%;
    padding-left: 7px;
    font-size: 17px;
}
#pin{
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 52%;
    width: 83%;
    height: 6%;
    padding-left: 7px;
    font-size: 17px;
}
#pass{
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 60%;
    width: 83%;
    height: 6%;
    padding-left: 7px;
    font-size: 17px;
}
#confirm_pass{
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 68%;
    width: 83%;
    height: 6%;
    padding-left: 7px;
    font-size: 17px;
}

#reg_btn{
    border: 1px solid wheat;
    padding: 10px 30px;
    color:rgb(250, 246, 225);
    text-decoration: none;
    transition: 0.6s ease;
    background-color: teal;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 82%;
    width: 40%;
    height: 12%;
    font-weight: normal;
    transition: 1s all;
}
#reg_btn:hover{
    background-color: aqua;
    color: black;
    cursor: pointer;
    transition: 1s all;
}

.already_login{
    transform: translate(-50%, -50%);
    position: absolute;
    left: 70%;
    top: 92%;
}
.already_login:hover{
    color: red;
    cursor: pointer;
    transition: 1s all;
}
/*END: CSS data for login*/