*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

body{
    border:none;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../background-img.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

header{
    border:1px solid transparent;
    height:70px;
    background:#00a8ff;
    background-position: center;
}
.headerbar > ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

.headerbar > ul li{
    display: inline-block;
}

.headerbar > ul li a{
    text-decoration: none;
    color: rgb(1, 255, 234);
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

.headerbar > ul li a:hover{
    background-color: white;
    color: black;
}
.logo img{
    float: left;
    width: 150px;
    height: auto;
}
.headerbar{
    max-width: 1200px;
    margin: auto;
}

.container{
    width: 65%;
    height: 477px;
    background: #acfdf9;
    transform: translate(-50%, -50%);
    margin-left: 50%;
    margin-top: 20%;
    box-shadow: 5px 3px 15px 4px;
}

.container input{
    position: relative;
    width: 450px;
    margin: 40px auto 0;
    padding: 10px;
    box-sizing: border-box;
   
}

.datepicker-here{
    /* to initialize */
}

#confirm_btn{
    border: 1px solid wheat;
    padding: 10px 30px;
    margin-left: 30%;
    color:rgb(230, 235, 243);
    text-decoration: none;
    transition: 0.6s ease;
    background-color: #e05c58;
    width: 40%;
    height: 12%;
    font-weight: normal;
    transition: 1s all;
}
#confirm_btn:hover{
    background-color: aqua;
    color: black;
    cursor: pointer;
    transition: 1s all;
}