/* CSS data for homepage and header*/
header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../background-img.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

nav ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    color: rgb(1, 255, 234);
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

ul li a:hover{
    background-color: white;
    color: black;
}

/* ul li.active a{
    background-color: white;
    color: black;
} */

.logo img{
    float: left;
    width: 150px;
    height: auto;
}

.headerbar{
    max-width: 1200px;
    margin: auto;
}
/* END: CSS data for header*/
