*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

title h1{
    color: cornsilk;
    font-size: 80px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.line1{
    color: cornsilk;
    position: absolute;
    top: 52%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
}

.line2{
    color: cornsilk;
    position: absolute;
    top: 56%;
    left: 50%;
    width: 40%;
    transform: translate(-50%, -50%);
}

.button{
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn{
    border: 1px solid wheat;
    padding: 10px 30px;
    color: cornsilk;
    text-decoration: none;
    transition: 0.6s ease;
}

.btn:hover{
    background-color: white;
    color: black;
}




  @media screen and (max-width:768px) {
    header nav{
      float: none;
      clear: left;
      width:100%;

    }
    header nav ul{
      margin: 0;
      padding-left: 0;

    }

    .logo img{
        float:none;
        margin-left: 50%;

    }
    header nav ul li{
      margin: 10px 0;
      width:18%;
      padding: 0;
      text-align: center;
    }
 .hea1
{
margin-bottom: 70px;
}
.line1{
  margin-top: 50px;
}
.button
{
  margin-top: 100px;
}

  }


    @media screen and (max-width:600px) {
      header nav{
        float: none;
        clear: left;
        width:100%;

      }
      header nav ul{
        margin: 0;
        padding-left: 0;

      }

      .logo img{
          float:none;
          margin-left: 40%;

      }
      header nav ul li{
        margin: 10px 0;
        width:18%;
        padding: 0;
        text-align: center;
      }
   .hea1
  {
  margin-bottom: 70px;
  }
  .line1{
    margin-top: 50px;
  }
  .button
  {
    margin-top: 100px;
  }
  .btn{
    display: block;
    box-sizing: border-box;

  }

    }



    @media screen and (max-width:480px) {
      header nav{
        float: none;
        clear: left;
        width:100%;

      }
      header nav ul{
        margin: 0;
        padding-left: 0;

      }

      .logo img{
          float:none;
          margin-left: 35%;

      }
      header nav ul li{
        margin: 10px 0;
        width:18%;
        padding: 0;
        text-align: center;
      }
   .hea1
  {
  margin-bottom: 70px;
  }
  .line1{
    margin-top: 50px;
  }
  .button
  {
    margin-top: 100px;
  }
  .btn{
    display: block;
    box-sizing: border-box;


  }
  .title h1{
    font-size: 50px;
  }

    }
