*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

body{
    border:none;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(../background-img.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

header{
    border:1px solid transparent;
    height:70px;
    background:#00a8ff;
    background-position: center;
}
.headerbar > ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

.headerbar > ul li{
    display: inline-block;
}

.headerbar > ul li a{
    text-decoration: none;
    color: rgb(1, 255, 234);
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

.headerbar > ul li a:hover{
    background-color: white;
    color: black;
}
.logo img{
    float: left;
    width: 150px;
    height: auto;
}
.headerbar{
    max-width: 1200px;
    margin: auto;
}

.big{
display:block;
 
}
.page_heading{
    text-align:center;
    font-size:34px;
}

.page_heading > h1{
    font-size:94px;
}
/*
.contai{
    position: relative;
    top:7cm;
    width: 45%;
    background: white;
    transform: translate(-50%, -50%);
    margin-left: 50%;
    
}*/
.border{
    width: 300px;
    height: 2px;
    background: #ffd4b0;
    margin: 40px auto;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10%;
}

.small-box{
    width: 50%;
    height: auto;
    background: #fff6f8;
    transform: translate(-50%, -50%);
    margin-left: 50%;
    padding:8px;
    margin-top: 3%;
    border-radius: 5px;
    box-shadow: 5px 3px 15px 4px;
}

.small-box > p{
    margin-left:3%;
    height:34px;
}

#delete_btn{
    border: 1px solid wheat;
    padding: 10px 10px;
    margin-right: 5%;
    margin-top: 1%;
    margin-bottom: 3%;
    float: right;
    color:rgb(230, 235, 243);
    text-decoration: none;
    transition: 0.6s ease;
    background-color: #e05c58;
    width: 25%;
    height: 20%;
    font-size: 15px;
}
#delete_btn:hover{
    background-color: rgb(158, 22, 22);
    color: rgb(252, 221, 221);
    cursor: pointer;
    transition: 0.6s ease;
}