*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

body{
    border:none;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(background-img.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

header{
    border:1px solid transparent;
    height:70px;
    background:#00a8ff;
    background-position: center;
}
.headerbar > ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

.headerbar > ul li{
    display: inline-block;
}

.headerbar > ul li a{
    text-decoration: none;
    color: rgb(1, 255, 234);
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

.headerbar > ul li a:hover{
    background-color: white;
    color: black;
}
.logo img{
    float: left;
    width: 150px;
    height: auto;
}
.headerbar{
    max-width: 1200px;
    margin: auto;
}

.city-box{
    margin-left:30px;
    padding:30px;
    margin-top:30px;
    height:40px;
    padding:6px;
}
.city-box select{
    border-color:transparent;
    border-radius:10px;
    padding-left:10px;
    border-radius:10px;
    padding-top:4px;
    padding-bottom:4px;
    margin:4px;
    font-size:19px;
    width:19%;
    height:40px;
    background:#50ffd9;
    -webkit-appearance:button;
    outline:none
}

.search-box {
    /* position: absolute;
    top: 290px;
    left: 70%;
    transform: translate(-50%, -50%); */
    background: #50ffd9;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    margin-left:23%;
    margin-top:50px;
    width:50%;
}
   
.search-box:hover > .search-btn {
    background: #0b5c5f;
    color: rgb(255, 255, 255);
   }
   
.search-btn {
    color: rgb(40, 121, 243);
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: cornsilk;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
   }
   
.search-btn > i {
    font-size: 30px;
    margin-left:0px;
}
   
.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    font-weight: bold;
    width: 90%;
    padding: 0 6px;
}

/* CSS for main lists */
.hide {
    display: none;
}

.my-info{
    /* border:1px solid transparent; */
    margin: 100px;
    margin-top: 50px;
    padding: 0;
    background:#0b91ff;
    max-width: 1200px;
}
.my-info ul{
    position: relative;
    width: 450px;
    margin: 40px auto 0;
    padding: 10px;
    box-sizing: border-box;
    list-style-type: none;
}

.my-info ul li a{
    display: flex;
    background: rgba(255,255,255,0.1);
    padding: 10px 20px;
    color: #fff;
    margin: 5px 0;
    text-decoration: none;
    transition: .5s;
}

.my-info ul li a:hover{
    transform: scale(1.06);
    background: #ff3772;
}
